* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: grey;
}

#application {
	height: 626px;
	width: 800px;
  border: solid black 1px;
	display: flex;
  flex-direction: column;
}

#name {
  height: 100px;
  width: 100%;
  border: solid black 1px;
  font-size: 50px;
  color: red;
  text-align: center;
}

.activity {
  height: 200px;
  width: 33%;
  border: solid black 1px;
  font-size: 40px;
  color: black;
  text-align: center;
}



#title-bar {
	height: 100px;
  width: 100%;
	border: solid black 1px;
}

#back {
  height: 40px;
  width: 100px;
  font-size: 20px;
  color: black;
}

#frame {
  height: 100%;
  width: 100%;
  border: solid red 1px;
  display: flex;
}

#game {
  border: solid black 1px;
  position: relative;
  display: flex;
  height: 500px;
  width: 500px;
}

#game-vertical {
  display: flex;
}

#game-horizontal {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.side-bar {
  height: 100%;
  width: 300px;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

#rectangle {
  display: flex;
  align-content: flex-start;
  outline: solid blue 5px;
  left: 50px;
  position: absolute;
  z-index: 1;
  flex-wrap: wrap;
  text-align: center;
}

#rectangle-horizontal {
  display: flex;
  flex-direction: column;
  position: absolute;
}

#rectangle-vertical {
  display:flex;
  position: absolute;
}

.line-horizontal {
  height: 1px;
  border: solid green 1px;
}

.line-vertical {
  width: 1px;
  border: solid green 1px;

}

.dot {
  border: solid red 8px;
  border-radius: 8px;
  width: 4px;
  position: absolute;
}

.dot:hover {
  border-color: black;
}

#dot-top-left {
  left: -8px;
  top: -8px;
}

#dot-top-right {
  right: -8px;
  top: -8px;
}

#dot-bottom-left {
  left: -8px;
  bottom: -8px;
}

#dot-bottom-right {
  right: -8px;
  bottom: -8px;
}

#equation-explore {
  height: 40px;
  width: 140px;
  margin: 10px;
  display: flex;
  border: solid black 1px;
}

#factors {
  height: 30px;
  width: 90px;
  font-size: 20px;
  color: black;
  text-align: center;
}

#squares {
  height: 40px;
  width: 80px;
  font-size: 20px;
  color: green;
  margin: 10px;
}

#multiplication {
  height: 30px;
  width: 50px;
  font-size: 20px;
}

#multiplication-learn {
  height: 30px;
  width: 50px;
  font-size: 20px;
}

#sides-button {
  height: 40px;
  width: 80px;
  font-size: 20px;
  color: blue;
  margin: 10px;
}

#counting-button {
  height: 40px;
  width: 40px;
  font-size: 20px;
  color: blue;
  margin: 10px;
}

.number-container {
  font-size: 30px;
  color: black;
}

#horizontal-div-button {
  height: 60px;
  width: 120px;
  font-size: 20px;
  color: blue;
  margin: 10px;
  border: solid blue 1px;
}

#vertical-div-button {
  height: 60px;
  width: 120px;
  font-size: 20px;
  color: blue;
  margin: 10px;
  border: solid blue 1px;
}

.side {
  height: 20px;
  width: 20px;
  font-size: 20px;
  color: blue;
  position: absolute;
}

.mushroom {
  display: block;
  height: 40px;
  width: 40px;
}

.mushroom-icon {
  height: 40px;
  width: 40px;
}

.line-horizontal-rec {
  border: solid blue 2px;
  height: 1px;
}

.line-vertical-rec {
  border: solid blue 2px;
  width: 1px;
}

.result-box {
  height: 40px;
  width: 40px;
  border: solid red 1px;
  display: flex;
  position: absolute;
  font-size: 20px;
}

.done-rec {
  border: solid green 10px;
  position: absolute;
}

/*#equation-play {
  height: 80px;
  width: 290px;
  margin: 10px;
  display: flex;
  margin: 10px;
}

#result {
  width: 120px;
  display: flex;
}*/

/*#factors-play {
  font-size: 60px;
  width: 130px;
}

#equals {
  font-size: 60px;
  width: 40px;
}*/

/*#multiplication-play {
  width: 100px;
  font-size: 60px;
  color: black; 
  margin-left: 10px;
}*/

#ok {
  height:50px;
  width: 50px;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  margin: 10px;
  background-color: green
}

/*#feedback {
  height: 200px;
  width: 250px;
  border: solid black 1px;
  margin: 10px;
}*/

#equation-container {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 220px;
  border: solid green 1px;
  font-size: 30px;
}






